.about{
  background-color: $background-second;
  height: auto;
  .about-wrapper{
    padding: 0 0 0 10%;

    .about-info{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5em 0;

      .about-me{
        width: 455px;
        color: $black;

        .hello{
          color: $gold;
          margin: 0;
        }
      }
      .picture{
        img{
          border-radius: 50%;
          max-height: 250px;
          max-width: 250px;
          height: auto;
          width: auto;
        }

      }
      .skills{
        width: 455px;
        height: 286px;
        display:flex;
        flex-direction: column;



        .skill-headline{
          color: $gold;
          margin: 0;
        }
        .skills-flex{
          display: flex;
          flex-direction: row;

          .skills-flex-1, .skills-flex-2{

            ul{


              li{
                list-style: none;

                h5{
                  margin: 0;
                  color: $black;
                }


          }
        }
      }
    }
  }
}
}
}

@media screen and (max-width: 1000px) {
  .about{
    .about-wrapper{
      .about-info{
        flex-direction: column;
        padding-top: 3em;

        .about-me{
            font-size: 14px;
        }
        .picture{
          img{
            max-height: 150px;
            max-width: 150px;
          }

        }
        .skills{
          width: 455px;
          height: auto;
          display:flex;
          flex-direction: column;



          .skill-headline{
            color: $gold;
            margin: 0;
          }
          .skills-flex{
            display: flex;
            flex-direction: row;

            .skills-flex-1, .skills-flex-2{

              ul{
                padding-left: 0;
                padding-right: 3.3em;
              }
            }
          }
        }
      }
    }
}
      // media query
    }


     @media screen and (max-width: 480px) {
       .about{
         .about-wrapper{
           .about-info{
             flex-direction: column;
             width: 350px;
             padding:2em 0 2em 0;

             .about-me{
                 font-size: 12px;
                 width: 350px;

             }
             .picture{
               img{
                 max-height: 100px;
                 max-width: 100px;
               }

             }
             .skills{
               width: 350px;
                .skill-headline{
                  margin:auto;
                }
                .skills-flex{
                  flex-direction: column;
                  margin: auto;

                  .skills-flex-1, .skills-flex-2{

                    ul{
                      font-size: 12px;
                      }
                    }
                  }
                 }
                }
}
  }
}


@media screen and (max-width: 400px) {
  .about{
    .about-wrapper{
      .about-info{
        width: 300px;

        .about-me{
            width: 250px;

        }
      }
    }
  }
//media query ends
}

@media screen and (max-width: 375px) {
  .about{
    .about-wrapper{
      .about-info{
        width: 280px;


        .about-me{
          width: 280px;

        }
        .skills{
          width: 280px;
        }
      }
    }
    }
//media query ends
}

@media screen and (max-width: 350px) {
  .about{
    .about-wrapper{
      .about-info{
        max-width: 235px;


        .about-me{
          width: 225;
          padding-left: 10px;

        }
        .skills{
          width: 230px;
        }
      }
    }
    }
//media query ends
}
