.about{
  background-image: url("/assets/img/about-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .about-wrapper{
    position: relative;
    height: 700px;
    max-width: 100%;

    .about-info{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 10em;

      .about-me{
        width: 455px;
        color: $black;

        .hello{
          color: $gold;
          margin: 0;
        }
      }
      .picture{
        img{
          border-radius: 50%;
          max-height: 250px;
          max-width: 250px;
          height: auto;
          width: auto;
        }

      }
      .skills{
        width: 455px;
        height: 286px;
        display:flex;
        flex-direction: column;



        .skill-headline{
          color: $gold;
          margin: 0;
        }
        .skills-flex{
          display: flex;
          flex-direction: row;

          .skills-flex-1, .skills-flex-2{

            ul{


              li{
                list-style: none;

                h5{
                  margin: 0;
                  color: $black;
                }


          }
        }
      }
    }
  }
}

    .sign{
      color: $gold;
      position: absolute;
      bottom: 60px;
      left: 48%;
      margin: 0;

      &:before{
        content: "";
        height: 18px;
        width: 18px;
        background-color: $black;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        bottom: 6px;
        left: -30px;
      }
    }
  }
}
