.contact{
  background-image: url("/assets/img/about-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

  .contact-wrapper{

    .contact-mail{
      text-align: center;
      color: $black;
      margin: 0;
      padding: 1em 0 2em 0;
      font-size: 3em;

    }
  }
}

  
