.mega-wrapper{
  width: 1440px;
  max-width: 100%
}
.wrapper{
  padding: 50px 120px;
  width: 1200px;
  max-width: 90%;
}

.header{
  display: flex;
  justify-content: space-between;

  .logo{
    border: solid 2px $black;
    float: left;
    color: $black;


    p{
      font-size: 24px;
      padding: 0px 8px;
      margin: 0;


      span{
        font-weight: 700;
      }
    }
  }
}

.vertical-line{
  border-right: solid 2px $black;
  height: 90px;
  width: 50%;
}

.skill-yes{
  color: $gold;
}

.skill-no{
  color: $main;
}

ul{list-style: none;}
