.landing{
background-image: url("/assets/img/hero.jpg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;

  h1{
    font-family: lumberjackrough, helvetica, sans-serif;
    text-align: center;
    font-size: 72px;
    color: $main;
    padding: 2.75em 0 0 0;
    margin: 0;

    }
  .next-page{
    color: $gold;
    display:flex;
    justify-content: space-around;;


    p{
      margin: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .landing{


    h1{

      }
    .next-page{



      p{

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing{


    h1{
        font-size: 4em;
      }
    .next-page{



      p{



      }
    }
  }
}

@media screen and (max-width: 575px) {
  .landing{


    h1{
        font-size: 3em;
      }
  }
}

@media screen and (max-width: 480px) {
  .landing{


    h1{
        font-size: 2.75em;
        padding-top: 5em;
      }
  }
}
