.landing{
background-image: url("/assets/img/fjes2.jpg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: auto;


  h1{
    font-family: lumberjackrough, helvetica, sans-serif;
    text-align: center;
    font-size: 72px;
    color: $black ;
    padding: 1em  0 ;
    margin: 0;

    }
}

@media screen and (max-width: 1000px) {
  .landing{


    h1{

      }
    .next-page{



      p{

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing{


    h1{
        font-size: 4em;
      }
    .next-page{



      p{



      }
    }
  }
}

@media screen and (max-width: 575px) {
  .landing{


    h1{
        font-size: 3em;
      }
  }
}

@media screen and (max-width: 575px) {
  .landing{


    h1{
        font-size: 1.8em;
      }
  }
}
