.portfolio{
  background-image: url("/assets/img/smia.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .portfolio-wrapper{


    .title{
      color: $black;
      font-family: lumberjackrough, helvetica, sans-serif;
      font-size: 2.5em;
      margin: 0;
      text-align: center;
      padding-top: 3.5em;
    }
    .control{
      color: $gold;
      font-size: 3em;


      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .portfolio{


    .portfolio-wrapper{


      .title{
        padding-top: 5em;
      }
      .control{
      
      }
    }
  }

  // media query end
  }
