.portfolio{
  background-image: url("/assets/img/smia.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .portfolio-wrapper{
    height: 700px;

    .title{
      color: $black;
      font-family: lumberjackrough, helvetica, sans-serif;
      font-size: 2.5em;
      margin: 0;
      text-align: center;
      padding-top: 1em;
    }
    .control{
      color: $gold;
      font-size: 3em;
      padding-top: 15%;

      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
}
